* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.debug {
    min-height: 200px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: white;
    padding: 0.5em;
    color: black;
    border-radius: 2rem;
}

.img-item {
    width: 100%;
}


/* INIZIO HEADER */

header {
    background-color: #0084FD;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

header li {
    list-style: none;
}

.nav-bar {
    display: flex;
    align-items: center; 
    padding: 1rem;
    color: white;
    justify-content: flex-end;
}

.nav-item {
    display: none;
    padding: 0 1rem;
}

.fa-grip-lines {
    color: white;
    font-size: 2rem;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* SECTION 1 */
#info-card {
    margin: 1rem 0;
}

.container {
    width: 80%;
    margin: 3rem auto;
}

#infocard h3 {
    color: #0084FD;
}

.cards-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    background-color: #B5DDFF;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-item {
    margin-bottom: 2rem;
}

.btn-blue {
    padding: 0.5rem 4rem;
    background: #0084FD;
    color: white;
}

.fa-apple {
    margin-right: 1rem;
}

.fa {
    font-size: 5rem;
    color: #0084FD;
}

/* SECTION 2 */

#st-plane {
    background-color: #9792E4;
    padding: 1rem;
    color: white;
}

.box-plane {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3rem;
}

#st-plane h3, em {
    color: black;
}

.fa-arrow-down {
    background-color: #9792E4;
    border-radius: 50%;
    color: black;
    padding: 1em;
}

/* SECTION 3 */

.testimonials-head {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#testimonials h2 {
    color: #9792E4;
}

.testimonials-cards {
    background-color: #9792E4;
    color: white;
}

.fa-quote-left, .fa-quote-right {
    padding: 0 0.3rem;
}

.testimonials-cards img {
    border-radius: 50%;
}

.img-plane {
    background-color: #0084FD;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}


/* HOVER */












/* INIZIO MEDIA QUERIES */

@media only screen and (min-width:480px) {

}

@media only screen and (min-width:768px) {

    .container {
        width: 90%;
    }

    .fa-grip-lines {
        display: none;
    }

    .nav-item {
        display: inline-block;
    }
}

/* FINE MEDIA QUERIES */