* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.debug {
    min-height: 200px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: white;
    padding: 0.5em 4em;
    color: black;
    border-radius: 2rem;
    display: inline-block;
}

.img-item {
    width: 100%;
}


/* INIZIO HEADER */

header {
    background-color: #0084FD;
}

header a {
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header li {
    list-style: none;
}

.nav-bar {
    display: flex;
    align-items: center; 
    padding: 1rem;
    color: white;
    justify-content: space-between;
}

.nav-item {
    display: none;
    padding: 0 1rem;
}

.fa-bars {
    color: white;
    font-size: 2rem;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* SECTION 1 */
#info-card {
    margin: 3rem 0;
}

#info-card h3 {
    color: #0084FD;
}

.cards-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    background-color: #B5DDFF;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-big {
    background-color: #B5DDFF;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.cards-item {
    margin-bottom: 2rem;
}

.btn-blue {
    background-color: #0084FD;
    color: white;
}

.fa-apple {
    margin-right: 1rem;
}

.fa {
    font-size: 5rem;
    color: #0084FD;
}

/* SECTION 2 */

#st-plane {
    background-color: #9792E4;
    padding: 3rem 0;
    color: white;
}

.box-plane {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3rem;
    margin: 3rem 0;
}

#st-plane h3, em {
    color: black;
}

.fa-arrow-down {
    background-color: #9792E4;
    border-radius: 50%;
    color: black;
    padding: 1em;
    width: 3em;
    height: 3em;
}

/* SECTION 3 */

#testimonials {
    padding-top: 3rem;
}

.testimonials-head {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#testimonials h2 {
    color: #9792E4;
}

#testimonials h3 {
    color: white;
}

.box-testimonials {
    background-color: #9792E4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3rem;
    margin: 3rem 0;
}

.img-testimonials {
    background-color: #0084FD;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.fa-quote-left, .fa-quote-right {
    padding: 0 0.3rem;
}

.testimonials-cards img {
    border-radius: 50%;
}

.img-background-1 {
    background-image: url(../img/testimonial1.jpg);
}

.img-background-2 {
    background-image: url(../img/testimonial2.jpg);
}

.img-background-3 {
    background-image: url(../img/testimonial3.jpg);
}

/* SECTION 4 */

#benefits {
    background-color: #9792E4;
    color: white;
    padding-bottom: 3rem;
}

#benefits h2 {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
}

#benefits .cards-item {
    color: #9792E4;
}

.box-benefits {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 3rem 0;
}

.title-benefits {
    font-size: 3rem;
    font-weight: 600;
}

.btn-purple {
    background-color: #9792E4 ;
    color: white;
}

/* SECTION 5 */

#about-us {
    margin: 3rem 0;
}

#about-us .title-benefits, h3 {
    color: #9792E4;
}

.box-about-us {
    display: flex;
    flex-direction: column;
}

.img-background-4 {
    background-image: url(../img/about.jpg);
    position: relative;
}

#about-us .fa-quote-left {
    font-size: 5rem;
    color: #9792E4;
    position: absolute;
    top: 0;
    right: -1rem;
}

.fa-linkedin {
    margin-right: 0.4rem;
}

.btn-about-us {
    padding: 0.2em 0.8em;
}

/* SEZIONE 6 */

#get-started {
    background-color: #9792E4;
    color: white;
    padding: 3rem 0;
}

.title-start {
    opacity: 0.5;
}

#get-started h2 {
    font-size: 1.7rem;
}

.free-start {
    color: #FDC15F;
    font-size: 3rem;
    font-weight: 700;
}

.btn-get-started {
    padding: 1em 6em;
    color: #9792E4;
}

/* FINE MAIN */

/* INIZIO FOOTER */

footer {
    background-color: #333333;
    padding: 3rem 0;
    color: white;
    text-align: center;
}

footer u {
    color: #9792E4;
}

.footer-item {
    padding-bottom: 4rem;
}

/* HOVER */












/* INIZIO MEDIA QUERIES */

@media only screen and (min-width:768px) {

    .container {
        width: 90%;
    }

    .cards-direction {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards {
        width: calc(33% - 16px);
        margin-right: 8px;
        margin-left: 8px;
    }

    #card-small-height {
        min-height: 860px;
    }

    .card-big {
        width: calc(66% - 16px);
        margin-right: 8px;
        margin-left: 8px;
        min-height: 860px;
    }

    .card-testimonials {
        width: 70%;
        padding: 16px;
    }

    .box-testimonials {
        flex-direction: row;
    }

    #benefits .container {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits h2 {
        padding: 32px 0;
    }

    .card-benefits {
        width: calc(50% - 16px);
        margin: 8px;
    }

    .box-about-us {
        flex-direction: row;
    }

    .h-40 {
        width: 40%;
        padding: 32px;
    }

    .h-60 {
        width: 60%;
        padding: 32px 60px 0 40px;
    }

    #get-started .container {
        width: 70%;
    }

    #get-started h2 {
        font-size: 2.7rem;
    }

    footer .container {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {

    .container {
        width: 70%;
        max-width: 1100px;
    }

    .fa-bars {
        display: none;
    }

    .nav-item {
        display: inline-block;
    }

    #info-card .w-100 {
        width: 50%;
    }

    #img-bottom {
        display: flex;
        align-items: flex-end;
    }

    .card-big {
        flex-direction: row;
        min-height: 460px;
    }

    #card-small-height {
        min-height: 460px;
    }

    .img-item {
        justify-content: flex-end;
    }
    
    #st-plane .h-50 {
        width: calc(50% - 64px);
        margin: 32px;
    }

    .plane-cards {
        flex-direction: row;
        display: flex;
    }

    .card-benefits {
        width: calc(33% - 16px);
        margin: 8px;
    }

    #get-started .container {
        width: 40%;
    }

    footer .container {
        width: 30%;
    }
}

/* FINE MEDIA QUERIES */